.wbdv-sticky-top {
    position: fixed;
    width: 100%;
    background-color: cornflowerblue;
    z-index: 1;
}

.wbdv-padding-5px {
    padding: 5px;
}
.bottom-right-position{
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 1;
    color: cornflowerblue;
}
.background-white{
    background: white;
}
.background-gray{
    background: lightgray;
}
.color-white{
    color: white;
}
.color-red{
    color: red;
}
.course-position{
    position: relative;
    top: 5px;
 }
 .hamburger-position{
     position: relative;
      top: 2px;
      left: 10px;
  }
  .plus-position{
      position: relative;
      top: 3px;
      right:10px
   }

